name: ci
on: pull_request
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3
            - name: Install node
              uses: actions/setup-node@v3
              with:
                  node-version: 18
            - name: Setup yarn
              run: npm install -g yarn
            - name: Setup Nodejs with yarn caching
              uses: actions/setup-node@v3
              with:
                  node-version: 18
                  cache: yarn
            - name: Install dependencies
              run: yarn
            # - name: Allow permission
            #   run: sudo chmod -R 777 /etc
            - name: Run test
              run: yarn test
